streamlit
requests
plotly
pandas
numpy
geopy
streamlit-lottie
streamlit-folium
folium
python-dotenv
speechrecognition
pyttsx3
groq
mistralai
anthropic
streamlit-autorefresh
pytz
matplotlib
streamlit-geolocation